<section class="greeting">
  <div class="time">
  <% if current_user %>
    <h2><%= greeting %>, <%= current_user %></h1>
  <% else %>
    <h2><%= greeting %></h1>
  <% end %>
    <h1><%= Time.now.strftime("%H:%M") %></h1>
  </div>
</section>
